*{
  margin: 0px;
  padding: 0px;
  box-sizing:border-box;
  font-family: 'Heebo', sans-serif;
  outline: none;
}

.p{
  border: transparent;
  background-color: transparent;
  text-align: center;
  font-weight: bolder;
}

body{
  background-image:#7CB9E8;
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.add-wall{
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(241, 91, 91, 0.534);
  display: none;
  justify-content: center;
  align-items: center;
}

.add-inputs {
  padding-left: 1em;
  display: block;
  width: 100%;
  height: 2.5em; /* Increased height for better readability */
  margin-bottom: 2vh;
  font-size: 1em; /* Adjusted font size */
  border-radius: 8px;
  border: 2px solid #ccc; /* Added border for input visibility */
}
.add-submit {
  font-family: 'Heebo', sans-serif;
  background-color: white;
  border: 1px solid #fff;
  border-radius: 10px;
  height: 35px;
  width: 100%;
  font-weight: 900;
  font-size: 1.1em; /* Increased font size */
}

.add-submit:hover {
  transition: ease 0.2s;
  background-color: black;
  color: white;
}

.add-submit:active {
  border: 3px rgb(24, 233, 24) solid;
  transition: ease 0.2s;
}

.add-submit:focus {
  border: 3px  white solid;
  color:  white;
}



.add-window {
  color: black; /* Set the text color to black for better visibility against a white background */
  background-color: white; /* Change the background color to white */
  font-family: 'Heebo', sans-serif; /* Use the same font as in the body */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); /* Light shadow for the box to make it stand out */
  padding: 2em;
  position: fixed;
  outline: none;
  display: flex;
  flex-direction: column;
  width: 30vw;
  min-width: 15em;
  border-radius: 15px; /* Round the corners of the dialog box */
  align-items: center;
  font-size: 1.1em; /* Adjusted font size */
  max-width: 40vw;
}

.add-cancel{
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  height: 2em;
  width: 2em;
}

.selection{
  width: 6em;
  display: none;
}

.table-container{
  border: thin white solid;
  /* border-radius: 1em 1em 1em 1em / 1em 1em 1em 1em; */
  width: 90vw;
  height: 80vh;

  background-color: white;

  /* to make the table scrollable : start */
  overflow: auto;
  /* to make the table scrollable : end */
}

table{
  width: 100%;
  font-size: 0.9em;
  border-radius: 10px;
  /* to remove the column gaps in the table */
  border-collapse: collapse;
}

th, td{
  font-family: 'Heebo', sans-serif;
  text-align: center;
  height: 2.8em;
  padding: 0.77em 1.2em;
}

td{
  border-bottom: thin solid rgb(207, 207, 207);
  border-radius: 10px;
}

th{
  font-weight: bold;

  /* fixed table header when scrolled down : start */
  position: sticky;
  top: 0;
  /* fixed table header when scrolled down : end */

  background: #1E90FF;
  color: white;
 
}

/* apply css to every 2 tr child of tbody  */
tbody tr:nth-child(2n){
  background-color: rgb(243, 242, 242);
  font-weight: thin;
}

.navigation{

  /* box shadow : start */
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  /* box shadow : end */

  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vh;
  gap: 50px;
  padding: 2vh;

  border: 1px white solid;
}

.search-bar, .action-btn{
  height: 2.2em;  
}
.navigation .action-btn{
  min-width: 60px;
}
.search-bar{
  
  padding-left: 1em;
  width: 30%;
  outline: none;
  border: none; /* No border */
  background-color: transparent; /* Transparent background */
  color: black; /* Ensure text is visible */
}

.add-record {
  background-color: white;
  background-image: url("../image/lock.svg");
  background-size: 30px; /* Adjust the size as needed */
  background-repeat: no-repeat;
}

.remove-record {
  background-color: white;
  background-image: url("../image/trash.svg");
  background-size: 20px; /* Adjust the size as needed */
  background-repeat: no-repeat;
}

.confirm-delete {
  background-image: url("../image/check.svg");
}

.cancel-delete {
  background-image: url("../image/cross.svg");
}

.confirm-delete, .cancel-delete {
  background-color: white;
  background-size: 70%;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.action-btn{
  width: 2.4em;
  height: 2.4em;

  border: 0px;
  min-width: 30px;

  background-position: center center;

  transition: 0.2s ease;
}

.logout{
  background-color: white;
  background-image: url('/image/logout.svg');

  background-repeat: no-repeat;
 
  background-size: 30px; /* Adjust the size as needed */
  background-repeat: no-repeat;
}

.menu-button {
  background-image: url("../image/menu-button.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 100%;
}

.action-btn:hover{
  transform: scale(1.3);
}

/* .add-record:hover{
  background-image: url("../image/unlock.svg");
} */

/* .remove-record:hover{
  background-image: url("../image/trash-open.svg");
} */

.btn-set2{
  display: none;
}

@media only screen and (max-width: 540px){

  body{
    display: block;
  }

  .search-bar{
    width: 50%;
  }

  .navigation, .table-container{
    width: 100vw;
    margin: 0px;
    border: 0px none;
  }

  .navigation {
    background-color: rgb(255, 21, 79);
  }

  .table-container{
    height: 90vh;
  }

  .add-window{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
  }

  .add-cancel {
    font-family: sans-serif;
    background-color: white;
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 4px;
    height: 30px;
    width: 100%;
    font-weight:900;

    position: static;
  }
  
  .add-cancel:hover {
    transition: ease 0.2s;
    background-color: black;
    color: white;
  }
  
  .add-cancel:active {
    border: 3px rgb(24, 233, 24) solid;
    transition: ease 0.2s;
  }
  
  .add-cancel:focus {
    border: 3px rgb(255, 0, 157) solid;
    color: rgb(255, 0, 157);
  }
}