.user-menu {
    height: 100vh;
    width: 100vw;
    background-color:#7CB9E8;
    
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;

    position: absolute !important;
    top: 0;
}

.menu-containers {
    width: clamp(300px,90%,700px);
    border: solid black;
}

.user-name {
    border: transparent;
    background-color: transparent;
}

.user-menu-exit {
    position: absolute;
    top: 0.75em;
    right: 0.75em;
}